body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.student-list{
  width: 50%;
  margin: 0 auto;
}

.student-links{
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.column{
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.student-details{
  max-width: 600px;
  margin: 0 auto;
}

.student-details p{
  margin: 0;
}

.newUser{
  width: 60%;
  margin: 0 auto;
}

.newUser input[type=text], .newUser select{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.newUser h1{
  text-align: center;
}

@media screen and (max-width: 480px) {

  body #root{
    width: 95%;
  }

  .student-links{
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

}